<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="dist/reset.css">
    <link rel="stylesheet" href="dist/reveal.css">
    <link rel="stylesheet" href="dist/theme.css" id="theme">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="plugin/highlight/monokai.css" id="highlight-theme">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        
        <section>
          <h1>
            Test slides
          </h1>
          <p>
            Just fill this slide with some content, in order to make a simple test for
            layouts, themes and build system
          </p>
        </section>
        
        <section>
          <h2>
            Just a content slide
          </h2>
          <p>
            Ciao come va?

            Bene grazie, e tu?
          </p>
        </section>
        
        <section>
          <h2>
            Just another content slide
          </h2>
          <p>
            Io non ho capito niente...

            Era nell'anticrimine.

            Faccio quest'effetto sulle persone.

            con due tizi dentro.
          </p>
        </section>
        
        <section>
          <h2>
            And a further one!
          </h2>
          <p>
            Castle... Castle... Castle!!
          </p>
        </section>
        
        <section>
          <h2>
            Ok... 
          </h2>
          <p>
            E tu comìeri senza di me?
            Avevi vinto il Pulitzer?

            L'unico mondo che vorrei visitare è quello in cui si realizza il nostro matrimonio.
          </p>
        </section>
        
      </div>
    </div>

    <script src="dist/reveal.js"></script>
    <script src="plugin/notes/notes.js"></script>
    <script src="plugin/markdown/markdown.js"></script>
    <script src="plugin/highlight/highlight.js"></script>
    <script>
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        hash: true,

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
      });
    </script>
  </body>
</html>