<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="dist/reset.css">
    <link rel="stylesheet" href="dist/reveal.css">
    <link rel="stylesheet" href="dist/theme.css" id="theme">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="plugin/highlight/monokai.css" id="highlight-theme">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        
        <section>
          <h1>
            Esercitazione
          </h1>
          <p>Meccanica Quantistica, 11 giugno 2020</p>
        </section>
        
        <section>
          <h2>Titolo</h2>
          <p>
            Corpo, ed elenco puntato:
            <ul>
              <li>ciao</li>
              <li>come</li>
              <li>va?</li>
              <li>bene</li>
              <li>e tu?</li>
            </ul>
          </p>
        </section>
        
        <section>
          <h2>Titolo</h2>
          <p>
            Corpo, ed elenco puntato:
            <ul>
              <li>ciao</li>
              <li>come</li>
            </ul>
            e un'equazione:
            \[\begin{aligned}
              \require{physics}
              \grad{ \psi } \sine \laplacian \oint \dd{x} 3*\psi(x)
            \end{aligned}\]
          </p>
        </section>
        
        <section>
          <h2>Titolo</h2>
          <p>
            Corpo, ed elenco puntato:
            <ul>
              <li>ciao</li>
              <li>come</li>
              <li>va?</li>
              <li>bene</li>
              <li>e tu?</li>
            </ul>
          </p>
        </section>
        
        <section>
          <h2>Titolo</h2>
          <p>
            Corpo, ed elenco puntato:
            <ul>
              <li>ciao</li>
              <li>come</li>
              <li>va?</li>
              <li>bene</li>
              <li>e tu?</li>
            </ul>
          </p>
        </section>
        
      </div>
    </div>

    <script src="dist/reveal.js"></script>
    <script src="plugin/notes/notes.js"></script>
    <script src="plugin/markdown/markdown.js"></script>
    <script src="plugin/highlight/highlight.js"></script>
    <script src="plugin/math/math.js"></script>
    <script>
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        hash: true,

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [ RevealMath, RevealMarkdown, RevealHighlight, RevealNotes ]
      });
    </script>
  </body>
</html>